@if (sucursales.length > 0) {
<div class="overflow-x-auto">
  <table class="w-full text-left text-sm text-slate-600 p-2">
    <thead class="bg-blue-50 text-xs font-semibold text-slate-900 uppercase tracking-wider">
      <tr>
        <th class="px-6 py-4">#</th>
        <th class="px-6 py-4">Código</th>
        <th class="px-6 py-4">Sucursal</th>
        <th class="px-6 py-4">Vigente</th>
        <th class="px-6 py-4 text-center">Acciones</th>
      </tr>
    </thead>

    <tbody class="divide-y divide-slate-200" *ngFor="let s of sucursales; let i = index">
      <tr class="hover:bg-slate-50 transition-colors">
        <td class="px-6 py-4 font-medium text-slate-900">{{ i + 1 }}</td>
        <td class="px-6 py-4">{{s.codigo}}</td>
        <td class="px-6 py-4 italic">{{s.nombre}}</td>
        <td class="px-6 py-4 whitespace-nowrap">
          <span
            [class]="s.activo ? 
                              'inline-flex items-center rounded-full bg-emerald-100 px-2.5 py-0.5 text-xs font-medium text-emerald-800' : 
                              'inline-flex items-center rounded-full bg-red-100 px-2.5 py-0.5 text-xs font-medium text-red-800'">

            {{ s.activo ? 'Activo' : 'Inactivo' }}

          </span>
        </td>
        <td class="px-6 py-4">
          <div class="flex justify-center gap-2">
            <button type="button" (click)="showModal('edit', s)"
              class="rounded-md bg-blue-50 px-3 py-1.5 text-xs font-medium text-green-600 hover:bg-green-600 hover:text-white transition-all border border-green-200">
              Editar
            </button>
            <button type="button" (click)="showModal('delete', s)"
              class="rounded-md bg-rose-50 px-3 py-1.5 text-xs font-medium text-rose-600 hover:bg-rose-600 hover:text-white transition-all border border-rose-200">
              Eliminar
            </button>
            <button type="button" (click)="showModal('detail', s)"
              class="rounded-md bg-yellow-100 px-3 py-1.5 text-xs font-medium text-yellow-700 hover:bg-yellow-200 transition-all">
              Ver
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
} @else{
<div class="p-4 rounded-lg bg-amber-100 border border-amber-200" role="alert">
  <p class="text-amber-800 text-sm font-medium text-center">
    Atención: No se encontraron sucursales registradas en el sistema.
  </p>
</div>
}